/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.newCred{
    margin-left: 47%;
    margin-top: 3%;
    margin-bottom: 1%;
}
.table {
    margin: 0 auto; 
}