<div class="container-fluid">
    <div class="row justify-content-start">

        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Cadastro de Cliente</h1>
            <form (ngSubmit)="onSubmit($event)">
                <div class="form-group">
                    <input type="text" class="form-control" name="nome_cliente" placeholder="Nome do Cliente" [(ngModel)]="nome_cliente">
                </div>
                <div class="form-group">
                        <input type="decimal" class="form-control" name="limite_credito" placeholder="Limite de Crédito" [(ngModel)]="limite_credito">
                </div>
                <div class="form-group">
                    <label for="tipo_risco">Risco</label>
                    <select class="form-control" name="tipo_risco" id="tipo_risco" [(ngModel)]="tipo_risco" (change)="ngOnChanges(tipo_risco)">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                </div>
                <div class="form-group" required>
                    <input type="text" class="form-control" name="taxa" placeholder="Taxa de Juros" value="{{  taxa  }}" [(ngModel)]="taxa" disabled>
                </div>
                <div class="form-group" required>
                    <input type="text" class="form-control" name="valor_final" placeholder="Valor Total" value="0" [(ngModel)]="valor_final"disabled>
                </div>
                <button type="submit" class="btn btn-primary float-right my-1" >Cadastrar</button>
            </form>
        </div>
            
    </div>   
</div>