
<div *ngIf="!show">
    <div class="container-fluid">
        <button type="button" class="btn btn-primary newCred" (click)="showFrom()"> Novo Cliente</button>
    </div>

    <table class="table table-hover table-inverse table-responsive-sm">
        <thead class="thead-inverse">
            <tr>
                <th>Nome Cliente</th>
                <th>Limite de Crédito</th>
                <th>Risco</th>
                <th>Taxa</th>
                <th>Valor Final</th>

            </tr>
            </thead>
            <tbody *ngIf="datas">
                <tr *ngFor="let item of datas">
                    <td>{{ item.nome_cliente }}</td>
                    <td class="real">{{ item.limite_credito | currency:'R$'}}</td>
                    <td>{{ item.tipo_risco }}</td>
                    <td>{{ item.taxa}}%</td>
                    <td class="real">{{ item.valor_final | currency:'R$'}}</td>
                </tr>
            </tbody>
    </table> 
</div>

<div *ngIf="show">
    <div class="container-fluid">
            <div class="row justify-content-start">
        
                <div class="col-md-6 offset-md-3">
                    <h1 class="text-center">Cadastro de Cliente</h1>
                    <form (ngSubmit)="onSubmit($event)">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nome_cliente" placeholder="Nome do Cliente" [(ngModel)]="nome_cliente">
                        </div>
                        <div class="form-group">
                                <input type="decimal" class="form-control" name="limite_credito" placeholder="Limite de Crédito" [(ngModel)]="limite_credito">
                        </div>
                        <div class="form-group">
                            
                            <select class="form-control" name="tipo_risco"  [(ngModel)]="tipo_risco" (change)="ngOnChanges(tipo_risco)">
                                <option selected>Seleione o tipo de Risco</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                        <div class="form-group" required>
                            <input type="text" class="form-control" name="taxa" placeholder="Taxa de Juros" value="{{  taxa  }}" [(ngModel)]="taxa" disabled>
                        </div>
                        <div class="form-group" required>
                            <input type="text" class="form-control" name="valor_final" placeholder="Valor Total" value="0" [(ngModel)]="valor_final"disabled>
                        </div>
                        <button type="submit" class="btn btn-primary float-right my-1" >Cadastrar</button>
                    </form>
                </div>
                    
            </div>   
        </div>
</div>

